section{
    width: 100%;
    min-height: 80vh;
    background-image: url("../../assets/images/HeroBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section{
    margin-left: 183px;
    gap: 40px;
}

.right-section{
    margin-right: 183px;
}

.right-section img{
    width: 691px;
    height: 571px;
}

.left-section p{
    font-size: 20px;
    font-weight: 500;
    color: #017AFF;
    margin-bottom: 20px;
    font-family: 'Work Sans' Sans-Serif;
}

.left-section h1{
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'Yeseva One';
    color: #1F2B6C;
}

.left-section button{
    color:#1F2B6C ;
    background-color: #BFD2F8;
    padding: 13px 35px;
    border-radius: 50px;
    margin-top: 30px;
    border: none;
    width: 170px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans' Sans-Serif;
    cursor: pointer;
}


.hero-cards{
    display: flex;
    gap: 150px;
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.hero-card1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 183px;
    background-color: #1F2B6C;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
}

.hero-card2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #BFD2F8;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
}

.hero-card3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-right: 183px;
    background-color: #017AFF;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
}

.hero-card1 h3{
    font-size: 16px;
    font-family: 'Work Sans' Sans-Serif;
    font-weight: 400;
    color: #BFD2F8;
    width: 170px;
}

.hero-card1 img{
    width: 50px;
    height: 50px;
}

.hero-card2 h3{
    font-size: 16px;
    font-family: 'Work Sans' Sans-Serif;
    font-weight: 400;
    color: #1F2B6C;
    width: 107px;
}

.hero-card2 img{
    width: 50px;
    height: 50px;
}

.hero-card3 h3{
    font-size: 16px;
    font-family: 'Work Sans' Sans-Serif;
    font-weight: 400;
    color: #fff;
    width: 126px;
}

.hero-card3 img{
    width: 50px;
    height: 50px;
}