.top-header {
    background-color: #fff;
    height: 80;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header-left .logo {
    width: 184px;
    height: 58px;
    margin-left: 180px;
}

.top-header-right {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 180px;
    width: 65%;
}

.header-item {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-icon {
    width: 42px;
    height: 33px;
    object-fit: contain;
}

.header-item h4 {
    font-size: 16px;
    font-weight: 500;
    color: #1F2B6C;
    margin-bottom: 2px;
    font-style: normal;
    line-height: 19px;
    text-transform: uppercase;
}

.header-item p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #017AFF;


}



/* Medium screens (tablet) */
@media screen and (max-width: 1024px) {
    .top-header-left .logo {
        width: 150px;
        height: auto;
        margin-left: 20px;
    }
    .top-header-right {
        gap: 25px;
        margin-right: 20px;
        width: auto;
    }
    .header-item h4, .header-item p {
        font-size: 14px;
    }
}

/* Small screens (mobile) */
@media screen and (max-width: 768px) {
    .top-header-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .top-header-left .logo {
        width: 130px;
        margin-left: 0;
    }
    .top-header-right {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-right: 0;
        width: 100%;
    }
    .header-item h4, .header-item p {
        font-size: 13px;
    }
    .header-item {
        gap: 5px;
    }
}

/* Extra small screens (very small mobile) */
@media screen and (max-width: 480px) {
    .top-header-left .logo {
        width: 100px;
    }
    .top-header-right {
        gap: 10px;
    }
    .header-item h4, .header-item p {
        font-size: 12px;
    }
}
