.about-section{
    width: 100%;
    min-height: 60vh;
    margin-top: 120px;
}

.top-section{
    text-align: center;
    width: 700px;
    margin-left: 550px;
}

.top-section h3{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Work Sans';
    color:#017AFF ;
    letter-spacing: 20%;
    padding-bottom: 20px;
}

.top-section h1{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Yeseva One';
    color: #1F2B6C;
    width: 701px;
}

.top-section p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans';
    width: 658px;
    padding-top: 20px;
}

.learnmore{
padding-top: 10px;
}

/* .learnmore p{
    color: #017AFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans';
} */

.down-section{
    margin-left: 183px;
    margin-right: 183px;
}
.down-section img{
    width: 100%;
    height: 350px;
    padding-top: 30px;
}