.about-section{
    width: 100%;
    min-height: 60vh;
    margin-top: 120px;
}

.top-section{
    text-align: center;
    width: 700px;
    margin-left: 550px;
}

.top-section h3{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Work Sans';
    color:#017AFF ;
    letter-spacing: 20%;
    padding-bottom: 20px;
}

.top-section h1{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Yeseva One';
    color: #1F2B6C;
    width: 701px;
}

.top-section p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans';
    width: 658px;
    padding-top: 20px;
}

.learnmore{
padding-top: 10px;
}



.down-section{
    margin-left: 183px;
    margin-right: 183px;
}
.down-section img{
    width: 100%;
    height: 350px;
    padding-top: 30px;
}


@media screen and (max-width: 1024px){
    .top-section{
        width: 90%;
        margin-left: 5%;
    }
    .top-section h1{
        width: 100%;
        font-size: 28px;
    }
    .top-section p{
        width: 100%;
        font-size: 15px;
    }
    .down-section{
        margin-left: 50px;
        margin-right: 50px;
    }
    .down-section img{
        height: 300px;
    }
}

/* Small screens (mobile) */
@media screen and (max-width: 768px){
    .top-section{
        width: 95%;
        margin-left: 2.5%;
    }
    .top-section h3{
        font-size: 16px;
    }
    .top-section h1{
        font-size: 24px;
        width: 100%;
    }
    .top-section p{
        font-size: 14px;
        width: 100%;
    }
    .down-section{
        margin-left: 20px;
        margin-right: 20px;
    }
    .down-section img{
        height: 250px;
    }
}

/* Extra small screens (very small mobile) */
@media screen and (max-width: 480px){
    .top-section h3{
        font-size: 14px;
    }
    .top-section h1{
        font-size: 20px;
    }
    .top-section p{
        font-size: 13px;
    }
    .down-section img{
        height: 200px;
    }
}
