
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;

}

/* Add to index.css temporarily
* {
    outline: 1px solid red !important;
} */